.button {
  border: 0;
  margin: 0;
  padding: 0;

  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: background-color 0.3s ease;

  color: var(--text-color-white);
  background-color: var(--color-light-med);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  text-transform: none;

  border-style: none;
  border-width: 0px;
  border-color: initial;
  border-radius: 6px;

  padding: 0.6rem 1.1rem;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:hover {
  background-color: var(--color-dark);
}
