.main {
    display: block;
    width: 100%;
    padding: 0 16px;
    
    margin: 0 auto;
    max-width: 1240px;
}

.mainGrid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 0;
    width: 100%;
}
