.footer {
    display: block;
    background-color: var(--color-base);
}

.footer::before {
    content: "";
    display: block;
    border-top: 1px solid var(--color-gray-200);
    margin: 0 16px;
}

.footerNav {
    padding: 80px 125px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 auto;
    max-width: 1240px;
}

.footerNavLeft {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    width: 25%;
    flex-direction: column;
    gap: 36px;
}

.footerNavRight {
    width: 75%;
    flex: 1 0 auto;
}
