.signInLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    white-space: pre-line;
    border-radius: 5px;
    border: 0;
    height: auto;
    text-decoration: none;
    min-width: auto;
    min-height: 30px;
    padding: 0.25rem 0.6875rem;
    font-size: 0.84375rem;
    line-height: 1.1875rem;
    letter-spacing: 0.0075em;
    color: var(--color-base-100);
    background: var(--color-base-800);
    box-shadow: 0px 0.3px 0.7px 0px rgba(0, 0, 0, 0.12), 0px 1.5px 2.8px 0px rgba(0, 0, 0, 0.07),
        0px 4px 9px 0px rgba(0, 0, 0, 0.05);
    font-weight: 600;
}

.signInLink:hover {
    background: var(--color-base-780);
}
